
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.trafic-light{background: black;
    padding: 10px;
    display: inline-block;
    
}
.light{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: blue;
}
.red{background: red;}
.green{background: green;}
.yellow{background: yellow;}
.glow{box-shadow: 0px 0px 9px 4px #747DE8;}